$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

// Height variables
$carousel-item-height: 300px;


@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.row-header{
  @include zero-margin(0px,0px);
}

.row-content {
  @include zero-margin(50px,0px);
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: $background-pale;
  @include zero-margin(20px, 0px);
}
.jumbotron {
  @include zero-margin(70px,30px);
  background: $background-light ;
  color:floralwhite;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

address{
  font-size:80%;
  margin:20px;
  color:#0f0f0f;
}

body{
  padding:50px 0px 0px 0px;
  z-index:0;
}

.navbar-inverse {
   background-color: $background-dark;
}
.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

.carousel {
  background: $background-dark;
  background:rgb(78, 133, 155);

  .carousel-item {
      height: $carousel-item-height;
      img {
          position: absolute;
          top: 0;
          left: 0;
          min-height: 300px;
      }
  }
}
#carousel-button {
  right:0px;
  position: absolute;
  bottom: 0px;
}
.carousel-caption {
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgb(253, 253, 253);
  text-shadow: none;
}
.modal-header{
  background-color: $background-dark;
  color: floralwhite;
  .close {
    color: floralwhite;
  }
}
.modal-body{
  background-color: $background-pale;
}
.modal-footer{
  background-color: $background-light;
}